@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,700&display=swap');

:root {
    /* Palette */
    --space-cadet: #1D263B;
    --dark-blue-grey: #5C6784;
    --lavender-web: #EEEEFF;
    --acid-green: #C3CD3C;
    --straw: #D2D96D;
    --telemagenta: #D4357A;

    /* Fonts */
    --body-text: 'Montserrat', sans-serif;
    --header-text: 'DM Serif Display', serif;

    /* Default styles */
    font-family: var(--body-text);
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    background-color: var(--dark-blue-grey);
    padding-left: 2rem;
    display: grid;
    position: sticky;
}

h1 {
    padding: 0;
    margin: 0;
    align-self: center;
    font-family: var(--header-text);
    color: var(--lavender-web);
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: .2rem;
}

h2 {
    font-family: var(--header-text);
    font-weight: 500;
    margin: 0;
}

main {
    background-color: var(--space-cadet);
    display: grid;
    grid-template-rows: 10% 90%;
}

main .btn-container {
    position: sticky;
}

.btn-container {
    display: grid;
}


#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 2rem;
    gap: 2rem;
    overflow: auto;
}

.card {
    border-radius: 10px;
    height: 30vh;
    background-color: var(--lavender-web);
    display: grid;
    grid-template-rows: auto repeat(4, 1fr);
    grid-template-columns: 100%;
    border: .5rem solid var(--acid-green);
}

.title {
    font-size: 1.7rem;
    font-family: var(--header-text);
    align-self: end;
    padding-bottom: .5rem;
}

.author {
    font-weight: 500;
    font-size: 1.3rem;
}

.title, .author, .pages, .was-read {
    padding-left: 10%;
    padding-right: 10%;
    overflow-wrap: normal;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

.modal-content {
    background-color: var(--lavender-web);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding-bottom: 2rem;
    margin: 15% auto;
    overflow: auto;
}

.close-button {
    background-image: url("icons/close.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 1.5rem;
    height: 1.5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    grid-column: -2 / -1;
    justify-self: end;
    align-self: top;
}

/* The .modal-open class will be added to the modal
when it's opened, using JavaScript, and removed when
it is closed. */
.modal.modal-open {
    display: block;
}

.modal form {
    display: grid;
    grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 1fr 0.75fr;
    grid-template-columns: 100%;
    overflow: auto;
    align-items: center;
    justify-items: center;
    width: fit-content;
}

.form-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.form-top h2 {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.labeled-input {
    display:flex;
    flex-direction: column;
    gap: .5rem;
    justify-self: center;
}

input {
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 1rem;
    color: var(--space-cadet);
}

input[type="text"] {
    font-size: 16px;
}

fieldset {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1rem 3rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
}

legend {
    grid-column: 1 / -1;
    padding: 0;
}

#submit-btn {
    padding: 1rem 4rem;
    margin-top: .5rem;
}

#add-btn {

}

button {
    align-self: center;
    justify-self: center;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: var(--telemagenta);
    color: white;
}

.card button {
    width: 85%;
}

.card button.true {
    background-color: #5e853a;
    content: "Already read";
}

.card button.false {
    background-color: #b1263d;
    content: "Not yet read";
}